:root {
  --primary: #7052b2;
}

.XmasMode {
  --primary: #fff;
}

.banner .bgLand, .banner .bgTree, .banner .bgSmokes .bgSmoke3, .banner .bgSmokes .bgSmoke2, .banner .bgSmokes .bgSmoke1, .banner .bgDemon, .banner .bgWitch, .banner .bgGhost, .banner .bgHands .bgHand2, .banner .bgHands .bgHand1 {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.banner {
  height: 100vh;
  background-color: var(--primary);
  position: relative;
  overflow: hidden;
}
.banner .moons {
  position: absolute;
  top: 5vh;
  left: 50%;
}
.banner .moons .moon,
.banner .moons .moonHalo1,
.banner .moons .moonHalo2 {
  position: absolute;
}
.banner .moons .moon img,
.banner .moons .moonHalo1 img,
.banner .moons .moonHalo2 img {
  width: 20vw;
  max-width: 160px;
}
.banner .moons .moonHalo1,
.banner .moons .moonHalo2 {
  opacity: 0.2;
}
.banner .bgHands .bgHand1 {
  background: url(/images/banner_bg_hand1.svg) no-repeat right bottom/cover;
  opacity: 0.2;
}
.banner .bgHands .bgHand2 {
  background: url(/images/banner_bg_hand2.svg) no-repeat right bottom/cover;
  opacity: 0.2;
}
.banner .bgGhost {
  background: url(/images/banner_bg_ghost.svg) no-repeat right bottom/cover;
  opacity: 0.2;
}
.banner .bgWitch {
  background: url(/images/banner_bg_witch.svg) no-repeat right bottom/cover;
  opacity: 0.2;
}
.banner .bgDemon {
  background: url(/images/banner_bg_demon.svg) no-repeat right bottom/cover;
  opacity: 0.2;
}
.banner .bgSmokes .bgSmoke1 {
  background: url(/images/banner_bg_smoke1.svg) no-repeat right bottom/cover;
  opacity: 0.2;
}
.banner .bgSmokes .bgSmoke2 {
  background: url(/images/banner_bg_smoke2.svg) no-repeat right bottom/cover;
  opacity: 0.2;
}
.banner .bgSmokes .bgSmoke3 {
  background: url(/images/banner_bg_smoke3.svg) no-repeat right bottom/cover;
  opacity: 0.2;
}
.banner .bgTree {
  background: url(/images/banner_bg_tree.svg) no-repeat right bottom/cover;
}
.banner .bgLand {
  background: url(/images/banner_bg_land.svg) no-repeat right bottom/cover;
}
.banner .house {
  position: absolute;
  top: 50%;
  right: 5vw;
  transform: translateY(-50%);
}
.banner .house img {
  width: calc(10vw + 300px);
  max-width: 90vw;
  max-height: 80vh;
}
.banner .bats {
  position: absolute;
  right: 10vw;
}
.banner .bats .bat1 {
  display: inline-block;
  transform: translateY(13vh);
}
.banner .bats .bat1 img {
  width: 5vh;
  transform: rotate(-24deg);
}
.banner .bats .bat2 {
  display: inline-block;
  transform: translateY(13vh);
}
.banner .bats .bat2 img {
  width: 3vh;
  transform: rotate(8deg);
}
.banner .bats .bat3 {
  display: inline-block;
  transform: translateY(2vh);
}
.banner .bats .bat3 img {
  width: 6vh;
  transform: rotate(10deg);
}
.banner .bats .bat4 {
  display: inline-block;
  transform: translateY(24vh);
}
.banner .bats .bat4 img {
  width: 3vh;
  transform: rotate(30deg);
}
.banner .bats .bat5 {
  display: inline-block;
  transform: translateY(23vh);
}
.banner .bats .bat5 img {
  width: 6vh;
  transform: rotate(7deg);
}
.banner .bats .bat6 {
  display: inline-block;
  transform: translateY(0vh);
}
.banner .bats .bat6 img {
  width: 4vh;
  transform: rotate(-24deg);
}
.banner .bats .bat7 {
  display: inline-block;
  transform: translateY(21vh);
}
.banner .bats .bat7 img {
  width: 3vh;
  transform: rotate(7deg);
}
.banner .bats .bat8 {
  display: inline-block;
  transform: translateY(9vh);
}
.banner .bats .bat8 img {
  width: 5vh;
  transform: rotate(18deg);
}
.banner .cats {
  position: absolute;
  right: 20vw;
  bottom: 25vh;
}
.banner .cats .cat,
.banner .cats .catTail,
.banner .cats .catEyes {
  position: absolute;
}
.banner .cats .cat img,
.banner .cats .catTail img,
.banner .cats .catEyes img {
  width: 20vw;
  max-width: 110px;
}/*# sourceMappingURL=base.css.map */