@import "variables";
@import "mixin";
@import "extend";
@import "func";

body {
	margin: 0;
	box-sizing: border-box;
}

.banner {
	height: 100vh;
	background-color: $primary;
	position: relative;

	.bgSmokes {
		$bgSmokeNum: 3;
		@for $i from 1 through $bgSmokeNum {
			.bgSmoke#{$i} {
				@extend %bg_display;
				background: url(/images/banner_bg_smoke#{$i}.svg) no-repeat right bottom / cover;
				opacity: 0;
			}
		}
	}

	.bgLand {
		@extend %bg_display;
		background: url(/images/banner_bg_land.svg) no-repeat right bottom / cover;
	}

	.moons {
		position: absolute;
		top: 5vh;
		left: 50%;

		.moon,
		.moonHalo1,
		.moonHalo2 {
			position: absolute;

			img {
				width: 20vw;
				max-width: 160px;
			}
		}

		.moonHalo1,
		.moonHalo2 {
			opacity: 0;
		}
	}

	.house {
		position: absolute;
		top: 50%;
		right: 5vw;
		transform: translateY(-50%);

		img {
			width: 400px;
			max-width: 90vw;
			max-height: 80vh;
		}
	}

	.bats {
		position: absolute;
		right: 10vw;

		$batNum: 8;
		@for $i from 1 through $batNum {
			.bat#{$i} {
				display: inline-block;
				transform: translateY(randomNum(0, 30)+vh);

				img {
					width: randomNum(3, 6)+vh;
					transform: rotate(randomNum(-35, 35)+deg);
				}
			}
		}
	}
}
